

<html>
  <h1>Register</h1>
  <form action="/auth/register", method="post">
    <p>
      <input type="text", name="username", placeholder="username"/>
    </p>
    <p>
      <input type="password", name="password", placeholder="password"/>
    </p>
    <p>
      <input type="text", name="displayname", placeholder="displayname"/>
    </p>
    <p>
      <input type="submit"/>
    </p>
  </form>

</html>
