<html>
<head>
<title>You sik Jeon Portfolio</title>
<link rel="shortcut icon" href="/uploads/favicon.ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<style>

@-webkit-keyframes square-to-circle{
  0%  { border-radius:0%;left:0%; transform:rotate(360deg);}
  12.5%  { border-radius:5%;left:5%; transform:rotate(0deg);}
  25% { border-radius:15%; left:10%; transform:rotate(90deg); opacity:0.5}
  36%  { border-radius:0%; left:25%; transform:rotate(0deg);}
  50% { border-radius:30%; left:35%; transform:rotate(180deg);}
  62.5%  { border-radius:15%; left:43%; transform:rotate(0deg);}
  75% { border-radius:30%; left:57%; transform:rotate(270deg); opacity:0.5}
  82.5%  { border-radius:40%; left:64%; transform:rotate(160deg);}
  90%  { border-radius:50%; left:70%; transform:rotate(0deg);  opacity:0.5} 
  100%{ border-radius:50%; left:150%; transform:rotate(360deg);} 
}

.index_top, .index_bot{position:relative; height:25%;}
.index_top_navbar{position:absolute; background:firebrick; width: 80%; height: 25%; bottom: 5%; left: 10%; border-top:3px solid gray;}
.index_bot_navbar{position:absolute; background:firebrick; width: 80%; height: 25%; top: 5%; left: 10%; border-bottom: 3px solid gray;}

.index_mid{position:relative; margin-left:auto; margin-right:auto; width:80%; height:50%; border-top:1px solid gray; border-bottom:1px solid gray;}
.index_mid_square{animation:square-to-circle 10s 1s infinite alternate; text-align:center; font-size:25px; color:white; position:relative; height:150px; width:150px; top:25%; left:-20%; background:firebrick;}
.index_mid_square span{position:absolute; top: 28%; right: 11%;}
.index_mid_name{position:absolute; font-size:50px; font-weight:bold; top:40%; left:40%; transform:translateX(-20%); display:none;}

.loginBox, .notAmember{margin-top:2%; display:none;}
.accInfo, .accInfo--user{margin-top:5%; display:none;}

</style>


<div class="container">
    <section class="index_top">
      <div class="index_top_navbar">
      </div>
    </section>

    <section class="index_mid">
        <div class="index_mid_square"><span>Hello, <br> touch me!</span></div>
        <div class="index_mid_name">You sik Jeon</div>
        <div class="loginBox">
          <form action="auth/login" method="post">
            <span>Member Login</span>
            <input type='text' name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="Login"/>
          </form>
        </div>
        <div class="notAmember">
          <span>Not a member?</span>
          <a href="auth/register"><input type="button" value="register" /></a>
          <a href="/about"><input type="button"  value="continue as a guest"/></a>
        </div>  
        <div class="accInfo">
            <span>Test account:</span>
            <div class="accInfo--user">
              <b>(Level: user)</b><br />
              username: tester <br />
              password: 1234
            </div>
            <div class="accInfo--admin">
              <b>(Level: Admin)</b><br />
              username: admin <br />
              password: 1234
            </div>   
        </div> 
    </section>

    <section class="index_bot">
      <div class="index_bot_navbar">
      </div>
    </section>
</div>
      
<script>

 $('.index_mid_square').on('click',function(){
   $('.index_mid_square').fadeOut();
   $('.index_top_navbar').animate({bottom:'-105%'},800).animate({bottom:'5%'},800);
   $('.index_bot_navbar').animate({top:'-105%'},800).animate({top:'5%'},800).promise().then(function(){$('.index_mid_name').fadeIn(1000)});
 })

 $('.index_mid_name').on('click',function(){
   $('.index_mid_name').fadeOut();
   $('.index_top_navbar').animate({bottom:'-115%'},600).animate({bottom:'-230%'},800);
   $('.index_bot_navbar').animate({top:'-115%'},600).animate({top:'-230%'},800).promise().then(function(){   $('.loginBox, .accInfo , .notAmember').show().css('display','flex');});
 })

</script>




</body>
</html>
