<!DOCTYPE html>
<html>
<title></title>
  <head></head>
    <body>
<script></script>
<script></script>

<br><strong>Basic Algorithms & Data Structures</strong><br>

<ol><strong>Data</strong>
  <li>Stack</li>
  <li>Queue</li>
  <li>LinkedList</li>
  <li>Tree</li>
  <li>Heap</li>
  <li>Graph</li>
  <li>AVL tree</li>
</ol>

<ol><strong>Sort</strong>
  <li>Quick Sort</li>
  <li>Counting Sort</li>
  <li>Selection Sort</li>
  <li>Bubble Sort</li>
  <li>Radix Sort</li>
  <li>merge Sort</li>
  <li>Heap Sort</li>
</ol>

<ol><strong>Others</strong>
  <li>Dynamic P</li>
  <li>Greedy</li>
  <li>Minimum Spanning Tree</li>
  <li>Dijkstra</li>
  <li>DFS</li>
  <li>BFS</li>
  <li>Network Flow</li>
</ol>

</body>
</html>
