<!DOCTYPE html>
<html>
<title>Write</title>
<head>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#content').on('keyup',function(){
    if($(this).val().length>2000){
      $(this).val($(this).val().substring(0,2000))
    }
  })
})
</script>
<div class="container">

<h1>write</h1>
<div>
<form action="../board/write" method="post" enctype="multipart/form-data" >
<!-- enctype="multipart/form-data" -->
 <%if(username){%>
   <input type="text" name="writer" value="<%=username%>" disabled /><br />
 <%}%>
 <%if(!username){%>
   <input type="text" name="writer" placeholder="username" required /><br />
 <%}%>
   <input type="text" name="title" placeholder="title" required><br /><br />
<select name="lang">
  <option value="en">
   Default: English
  </option>
  <option value="ko">kor</option>
  <option value="ja">jpn</option>
  <option value="zh-TW">zh-traditional</option>
  <option value="zh-CN">zh-simplified</option>
</select>
<br /><br />
 <textarea rows=20 cols=100 name="content" id="content" placeholder="Max. length limited to 2,000 characters."></textarea><br />

 <input type="file" name="imgsrc" /><br />

<div>
 <input type="submit" class="btn btn-success"  value="submit" />
 <a href="../board/"><button class="btn btn-default">Back</a><br />
</div><br />
</form>
</div>


</div>
</body>
</html>
